@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}
header {
	position: absolute;
	height: auto;
	width: 100%;
	padding: 30px;
}
header img {
	width: 150px;
}
.container {
	padding-top: 100px;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	background-color:  rgb(198, 241, 241);
	padding-bottom: 50px;
}
.container .left {
	width: 100%;
	padding: 50px 30px 0 30px;
}
.container .right {
	width: 100%;
	height: 300px;
	background-image: url(./images/pic.jpg);
	background-size: cover;
}
.container .right img {
	width: 100%;
	height: 100%;
}
.container .left h1 {
	letter-spacing: .5rem;
	text-align: center;
	font-size: 3.2rem;
	font-weight: 200;
	text-transform: uppercase;
	color: hsl(187, 75%, 58%);
	line-height: 3.5rem;
}
.container .left h1 span {
	color: hsl(0, 6%, 24%);
	font-weight: 700;
}
.container .left p {
	max-width: 450px;
	text-align: center;
	color: hsl(185, 29%, 58%);
	font-size: .9rem;
	line-height: 1.5rem;
	margin: 20px auto 40px auto;
}
.container form {
	position: relative;
	display: block;
	height: 50px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.container form input {
	position: absolute;
	width: 100%;
	outline: none;
	border: 1px solid hsl(192, 33%, 74%);
	height: 100%;
	border-radius: 50px;
	padding-left: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
}
.container form label {
	visibility: hidden;
	position: absolute;
}
.container form button {
	cursor: pointer;
	position: absolute;
	right: 0;
	border: none;
	outline: none;
	color: white;
	width: 70px;
	height: 100%;
	border-radius: 50px;
	background-image: linear-gradient(135deg, hsl(216, 51%, 84%), hsl(216, 59%, 84%));
	box-shadow: 0px 0px 18px 1px #c5c2df82;
	transition: .3s ease box-shadow;
}
.container form button:hover {
	background-image: linear-gradient(135deg, hsl(207, 73%, 75%), hsla(207, 28%, 62%, 0.781));
	box-shadow: 0px 0px 13px 2px #5baecfbf;
}
.container form input::placeholder {
	color: hsl(213, 67%, 80%);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
	opacity: .8;
}
.container form .error-icon {
	display: inline-block;
	position: absolute;
	right: 85px;
	top: 24%;
	display: none;
}
.container form .error-text {
	position: absolute;
	left: 30px;
	top: 40px;
	font-size: 1rem;
	display: none;
}
.container form.error .error-icon,
.container form.error .error-text {
	display: block;
}
.container form.error input {
	border: 2px solid hsl(0, 93%, 68%);
}

footer {
	padding: 10px 0;
	background-color: black;
	color: white;
	text-align: center;
	font-size: .8rem;
	line-height: 1.2rem;
}
footer a {
	color: aqua;
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
	header {
		padding-left: 10%;
	}
	.container {
		padding-top: 0;
		flex-direction: row;
		padding-bottom: 0;
	}
	.container .right {
		width: 90%;
		height: 100vh;
        background-image: url(./images/pic.jpg);
        background-size: cover;
        background-position: left;
        
	}
	.container .left {
		padding-top: 28vh;
		width: 100%;
		height: 100vh;
		padding-left: 10%;
		background-color: rgb(198, 241, 241);
		background-size: cover;
		background-position: center;
	}
	.container .left h1 {
		text-align: left;
		font-size: 5rem;
		line-height: 5.5rem;
	}
	.container .left p {
		margin-left: 0;
		text-align: left;
		font-size: 1.1rem;
	}
	.container form {
		margin-left: 0;
	}
	.container form button {
		width: 80px;
	}
}